
.container{
    margin:0 auto;
    display: block;
    max-width: 1020px;
    min-height: 580px;
    background-repeat: no-repeat;
    background-size: 1020px 680px;
    background-position: top center;
    background-image: url("../img/bg.jpg");
    padding-bottom: 20px;
}

.logo{

    width:400px;
    height: 200px;
    margin:  auto;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url("../img/logo.png");
    -webkit-animation:1s slideDown ease;
}

.bg-motion{
    margin:0 auto;
    display: block;
    max-width: 1020px;
    min-height: 700px;
    background-repeat: no-repeat;
    background-size: 1020px 680px;
    background-position: top center;

    background-image: url(" ");
}


.num-dollar{
    max-width: 400px;
    margin:  auto;
    text-align: center;
    font-size: 100px;
    color: #ce2627;
    text-shadow:
            -5px -5px 3px #fff,
            3px -5px 3px #fff,
            -3px 3px 3px #fff,
            5px 5px 3px #fff;

    -webkit-text-stroke: 2px #ce2627;
    -webkit-text-fill-color: #ce2627;
}